.masterPageCon {
  min-height: 650px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-image: url('../../assets/bg.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.centerCon {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  .leftPart {
    width: 800px;
    height: 600px;
    background-image: url('../../assets/bacLeft.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
  }
  .rightPart {
    background: #fff;
    border-radius: 8px;
    width: 560px;
    height: 560px;
    padding: 40px 98px;
    box-sizing: border-box;
    .name {
      font-size: 26px;
      margin-bottom: 40px;
      font-weight: 600;
      color: #333333;
      line-height: 34px;
      text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.16);
      text-align: center;
    }
    .formCon {
      width: 424px;
      margin: 0 auto;
      padding-top: 50px;
      box-sizing: border-box;
      .formitem {
        width: 100%;
        height: 53px;
        opacity: 0.8;
        border: 1px solid #999999;
        border-radius: 4px;
        padding-left: 26px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 112px;
        &:first-child {
          margin: 0;
        }
        .account {
          width: 24px;
          height: 24px;
          margin-right: 12px;
        }
        .formiteminput {
          width: 480px;
        }
      }
      .loginBtn {
        width: 100%;
        height: 53px;
        opacity: 1;
        background-color: #1a7ee9;
        border-radius: 4px;
        color: #fff;
        font-size: 24px;
        letter-spacing: 7px;
        border: 1px solid transparent;
        outline: 0;
        cursor: pointer;
        &[disabled] {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
}
.radioGroup {
  font-size: 23px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;

  :global {
    span {
      font-size: 23px;
    }

    .ant-radio-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:first-child {
        margin-right: 90px;
        color: #1a7ee9;
      }
    }
  }
}
