.user-avatar-dropdown-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .real_name {
    font-size: 14px;
    margin: 0 12px;
  }
}
